.html,body {
	margin: 0px;
  height: 100vh;
  background-color: #454545;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.title {
  /* height: 100%; */
  font-size: 60pt;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.tl-container {
  width: 100vw;
  height: 100%;
}

.tl {
  height: 100%;
  width: 100%;
}
