.html,body {
	margin: 0px;
  height: 100vh;
  background-color: #454545;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.title {
  /* height: 100%; */
  font-size: 60pt;
  color: #ffffff;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.tl-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.yearStamp {
  display:flex;
  justify-content: center;
  /* Font stuff etc but cant be asked rn */
}









.eventTitle {
  max-height: 5%;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  background-color: rgb(107, 105, 105);
  max-height: 25vh;
  margin-bottom: 2vh;
  min-width: 35vw;
}

.eventContainer {
  max-width: 20vw;
}

.descImageContainer {
  display: flex;
  flex-direction: row;
}

.eventthumbnail {
  width: 40%;
  object-fit: cover;
}


/* move left n right */
/* .left {
  transform: translateX(-40%);
}

.right {
  transform: translateX(40%);
}
 */
