.html,body {
	margin: 0px;
  height: 100vh;
  background-color: #454545;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.title {
  /* height: 100%; */
  font-size: 60pt;
  color: #ffffff;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.tl-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.yearStamp {
  display:flex;
  justify-content: center;
  /* Font stuff etc but cant be asked rn */
}









.eventTitle {
  max-height: 5%;
  margin: 0;
  margin-bottom: 0.5vh;
  font-size: 2vw;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  background-color: rgb(107, 105, 105);
  max-height: 25vh;
  margin-bottom: 2vh;
  width: 35vw;
  padding: 0.5vh 0.5vw;
  align-items: center;
  gap: 30%;
}

.eventContainer {
  max-width: 20vw;
}


.descImageContainer {
  display: flex;
  flex-direction: row;
}

.iconImage {
  padding: 2%;
  object-fit: fill;
  outline: 2px solid white;
  background-color: red;
  border-radius: 69%;
  width: 10%;
}


.eventdescription {
  padding-left: 0.5vw;
}

.eventthumbnail {
  max-width: 10vw;
  max-height: 10vw;
  /* max-height: 40%; */
  object-fit: cover;
}


/* move left n right */
.left {
  transform: translateX(-42%);
}

.right {
  transform: translateX(42%);
}

